/* BEGIN NEW HEADER STYLES */
.searchBar {
  clear: both;
}
.searchBar > .searchInput {
  justify-content: center;
  display: flex;
  background: #F0F0F0;
}
.searchTextBoxField {
  border: 0;
  background-color: #f0f0f0;
  padding: 7px;
  width: 100%;
}
.searchButton{
  float: right;
  padding: 12px 7px 0 0;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
}
.searchBar > .searchInput form {
  width: 100%;
}
.headerSlide {
  position: absolute;
  z-index: 9999;
  height: 30px;
  width: 30px;
  cursor: pointer;
  top: -9999px;
}
/* MAIN HEADER STYLES */
.resHeader {
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0 0 0;
  background: #fff;
  flex-wrap: wrap;
  font-family: 'locator_regular';
  font-size: .86rem;
}
.resHeader .toggleMenu {
  cursor: pointer;
}
.utility-menu {
  position: relative;
  margin: 10px 10px 0 10px;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
  padding-bottom: 5px;
}
.utility-menu:not(.open) .flyout {
  display: none;
}
.utility-menu.open .flyout {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  background: #fff;
  z-index: 99;
  left: -7em;
  top: 26px;
  padding: 30px;
}

/* MINI CART */
.miniCartTrigger {
  text-decoration: none;
}
/*Store assignment styles*/

.utility-menu.storeOption.open .flyout {
  min-width: 420px;
  left: -11rem;
  text-align: left;
  top: 26px;
}
/* INPUT STYLES TO MAKE IT HAVE MORE CLICKABLE SPACE */
.logo {
  width: 33%;
  text-align: center;
  /*REMOVES THE STYLES CSS FOR LOGO */
  margin: 0 0 0 0 !important;
  max-width: 660px; /* for zooming */
}
/* MY STORE */
.utility-menu.storeOption.open {
  border-bottom: 4px solid #333333;
}
.utility-menu.storeOption .flyout .assignedStore .storeName {
  font-size: 1rem;
}
.utility-menu.storeOption .flyout .assignedStore .bStoreName {
  font-family: 'locatorBold';
  text-transform: uppercase;
  margin-bottom: 16px;
}
.utility-menu.storeOption .flyout .assignedStore .storeHours{
  margin: 1rem 0;
}
.utility-menu.storeOption .flyout .assignedStore .storeHours span{
  display: block;
}
.utility-menu.storeOption .flyout .assignedStore .storeHours span .days{
  float: left;
  width: 115px;
}
.utility-menu.storeOption .flyout .designHelp{
  margin-top:1rem;
}
.utility-menu.storeOption .flyout .storeDetails,
.utility-menu.storeOption .flyout .searchStores,
.utility-menu.storeOption .flyout .changeLocation,
.utility-menu.storeOption .flyout .zipOnly{
  padding: 1rem 0 1rem 2px;
  border-bottom: 1px solid #D2D2D2;
}
.utility-menu.storeOption .flyout .storeDetails:hover,
.utility-menu.storeOption .flyout .searchStores:hover,
.utility-menu.storeOption .flyout .changeLocation:hover,
.utility-menu.storeOption .flyout .storePhone:hover {
  background-color: #F0F0F0;
}
.utility-menu.storeOption .flyout .storePhone{
  padding: 1rem 0;
  border-bottom: 1px solid #D2D2D2;
}
.zipDesc{
  display: inline-block;
}
.utility-menu.storeOption .flyout .assignedStore a,
.utility-menu.storeOption .flyout .storeDetails a,
.utility-menu.storeOption .flyout .searchStores a,
.utility-menu.storeOption .flyout .changeLocation a {
  text-decoration: none;
}
.utility-menu.storeOption .flyout .designHelp .designHeading {
  font-size: 1.250rem;
}
.utility-menu.storeOption .flyout .designHelp .apptLink {
  border: 1px solid #333333;
  border-radius: 25px;
  width: 244px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
.utility-menu.storeOption .flyout .designHelp .apptLink i.fa-arrow-right {
  margin-left: 10px;
}
.utility-menu.storeOption .flyout .designHelp .apptLink:hover {
  background: #F0F0F0;
}
/* MY ACCOUNT */
.utility-menu.open {
  border-bottom: 4px solid #333333;
}
.utility-menu.myAccount .loggedOut strong {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 1rem;
  /* width: 100%; */
  display: block;
}
.utility-menu.myAccount.open .flyout {
  padding: 36px 36px 20px 36px;
  text-align: left;
  top: 26px;
  left: -5rem;
  width: 264px;
}
.utility-menu.myAccount .flyout div strong {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 0rem;
  padding-bottom: 1rem;
  display: block;
}
.utility-menu.myAccount li {
  border-bottom: 1px solid #d2d2d2;
  padding: 1rem 0 1rem 15px;
}
.utility-menu.myAccount li:hover{
  background-color: #F0F0F0;
}
.utility-menu.myAccount li a {
  text-decoration: none;
}
.utility-menu.myAccount li:last-child a {
  color: #333;
}
/* INSPIRTION */
.utility-menu.inspiration-menu.open .flyout{
  padding: 0;
  min-width: 481px;
}
.utility-menu.inspiration-menu.open .flyout li {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
   padding-top: 15px;
}
.utility-menu.inspiration-menu.open .flyout li:last-child {
  border-bottom: none;
}
.utility-menu.inspiration-menu.open .flyout li:hover{
  background-color: #F0F0F0;
}
.utility-menu.inspiration-menu.open .flyout li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 400px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  font-size: 13px;
  height: 52px;
}
.utility-menu.inspiration-menu.open .flyout li a .col6:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px;
}
.utility-menu.story-menu.open .flyout li .col6:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px;
}
.utility-menu.inspiration-menu.open .flyout li a .col6:last-child,
.utility-menu.story-menu.open .flyout li .col6:first-child {
  margin-right: 30px !important;
}
.utility-menu.open .flyout li a .col6 {
  width: 42%;
}
.inspiration-menu .col6:nth-child(2n) span{
  display: block;
}
.inspiration-menu .inspirIcon { width: 35px; margin-right: 10px; }
.inspiration-menu .inspirIcon img { margin: 0 auto; display: block; }
.utility-menu.open .flyout li a .col6 p {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 55%;
  flex: 0 55%;
  line-height: 1;
  color: #808080;
}
.utility-menu.open .flyout li .col4 {
  width: 27%;
  margin-right: 16px;
  margin-left: 22px;
}
.utility-menu.open .flyout li .col8 {
  margin-right: 0 !important;
  padding-right: 30px !important;
  width: 61%;
}
.utility-menu.open .flyout li .col8 a{
  line-height: 1.6rem;
}
.utility-menu.open .flyout li .col8 span:first-of-type{
  font-weight: 700;
}
/* OUR STORY */
.utility-menu.story-menu.open .flyout{
  padding: 0;
}
.utility-menu.story-menu.open .flyout li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 400px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  font-size: 13px;
  margin: 15px 0;
  padding: 15px 0;
}
.accToggle{
  position: absolute;
  left: -9999999px;
}
.srOnly{ position: absolute; left: -9999999px; width: 1px; height: 1px;}
.filtering{
  position: relative;
  position: -webkit-sticky;
  background: #fff;
  z-index: 1;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .filtering{
    z-index: 2;
  }
}
.filtering.stick{
  position: fixed;
  top: 0;
  border-bottom: 1px solid #D2D2D2;
  left: 0;
  right: 0;
  z-index: 2;
}
.filtering.stick .filter_container{
  margin: 10px 0;
}
.filtering.stick .currentFilters {
  display: flex;
  flex-wrap: wrap;
  max-width: 1165px;
  margin: 0 auto 10px auto;
}
/* DESKTOP STUFF */
@media only screen and (min-width: 961px) {
  .mobOnly {
    display: none !important;
  }
  .mobAccText{
    position: absolute; left: -9999999px; width: 1px; height: 1px;
  }
  .pnlHdrInspiration {
    order: 1;
  }
  .pnlHdrStory {
    order: 2;
  }
  .logo {
    order: 3;
  }
  .pnlHdrStore {
    order: 4;
  }
  .pnlHdrUser {
    order: 5;
  }
  .pnlHdrCart {
    order: 6;
  }
  .topNav,
  .searchBar {
    order: 7;
    flex: 1 0 100%;
    padding-top: 10px;
    border-top: 1px solid #D2D2D2;
  }
  /* SEARCH BAR DESKTOP */
  .headerSearch {
    width: 100%;
    margin: 0 auto !important;
    max-width: 570px;
    position: relative;
  }
  .searchBar {
    border: none;
    overflow-y: hidden;
  }
  .searchSlider {
    position: absolute;
  }
  .searchInput {
    max-height: 0;
    margin-top: 10px;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .pnlHdrSearch{
    margin-left: 35px;
  }
  .pnlHdrSearch .searchMM .search{
    color: #000;
    float: none;
  }
  .pnlHdrSearch .searchMM {
    position: relative;
    margin: 10px 10px 0 10px;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
    padding-bottom: 5px;
  }
  /* SLIDE OUT SEARCH */
  .searchSlider:checked ~ .searchInput {
    padding: 15px 0;
    max-height: 80px;
    border-top: 1px solid #D2D2D2;
    margin-top: 20px 0;
  }
  .searchSlider:not(:checked) ~ .searchInput .headerSearch .searchButton{
    display: none;
  }
  .searchTextBoxField {
    font-size: 1.5rem;
  }
  /* LINE UP TEXT AND IMAGES */
  .utility-menu .flexCenter img,
  .search img,
  .miniCartTrigger img{
    margin-right: 5px;
    margin-bottom: -5px;
    width: 19px;
  }
  .transImg{
    width: 1px;
    height: 19px;
    margin-bottom: -5px;
  }
  .shoppingcontainer {
    position: relative;
  }
}
/* MOBILE STYLES */
@media only screen and (max-width: 960px) {
  header {
    position: absolute;
    left: 0;
    right: 0;
    /* z-index: 12; */
    top: 0;
  }
  .topNav .accToggle,
  .pnlHdrInspiration .accToggle,
  .pnlHdrStory .accToggle{
    display: none;
  }
  .filtering.stick{
    border-top: 1px solid #D2D2D2;
  }
  .searchSlider{
    display: none;
  }
  .subMenu .sale{
    font-weight: 400;
    color: #333;
    display: block;
  }
  .resHeader {
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    font-size: 1rem;
  }
  .resHeader > div.spacer1 {
    min-width: 40px;
  }
  .resHeader .mobStoreLink img {
    width: 27px;
    padding: 0px 3px 0 9px;
    margin-left: 10px;
  }
  .resHeader .svgTextAlt {
    position: absolute;
    left: -9999999px;
  }
  .logo {
    width: auto;
    text-align: center;
    /*REMOVES THE STYLES CSS FOR LOGO */
    margin: 0 !important;
    flex: 2 2 28%;
  }
  .mobileToggle {
    margin-left: 5px;
  }
  .mobileToggle label {
    padding: 8px 10px;
    display: block;
  }
  /* THE CART */
  .pnlHdrCart {
    margin-right: 20px;
  }
  .shoppingcontainer .miniCart {
    display: none !important;
  }
  .menuClose,
  .cartText,
  .cartTotal {
    display: none;
  }
  .menuOp {
    display: block;
  }
  /* LOGO CHANGES */
  .logo img {
    max-width: 110px;
  }
  .miniCartTrigger img{
    width:19px;
  }
  /* SLIDE OUT */
  .searchBar,
  .pnlHdrStore,
  .pnlHdrUser,
  .pnlHdrInspiration,
  .pnlHdrStory,
  .topNav {
    width: 100%;
  }
  .pnlHdrSearch {
    display: none;
  }
  /* INPUT CHECKS */
  .headerSlide:checked ~ header {
    position: fixed;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .headerSlide:checked ~ .mainPush,
  .headerSlide:checked ~ header .resHeader .mobileToggle .menuOp,
  .headerSlide:checked ~ header .resHeader > .mobStoreLink,
  .headerSlide:checked ~ header .resHeader > .spacer1,
  .headerSlide:checked ~ header .header-banner {
    display: none;
  }
  .headerSlide:not(:checked) ~ header .resHeader .searchBar,
  .headerSlide:not(:checked) ~ header .resHeader .pnlHdrStore,
  .headerSlide:not(:checked) ~ header .resHeader .pnlHdrUser,
  .headerSlide:not(:checked) ~ header .resHeader .pnlHdrInspiration,
  .headerSlide:not(:checked) ~ header .resHeader .pnlHdrStory,
  .headerSlide:not(:checked) ~ header .resHeader .topNav {
    display: none;
  }
  .headerSlide:checked ~ header .resHeader .mobileToggle .menuClose {
    display: block;
  }
  /* FIXED ON MENU OPEN */
    .headerSlide:checked ~ header .resHeader {
      padding: 58px 0 0 0;
    }
    .headerSlide:checked ~ header .resHeader .logo {
      position: fixed;
      top: 18px;
      left: 37%;
      z-index: 99;
    }
    .headerSlide:checked ~ header .resHeader .mobileToggle  {
      padding-left: 5px;
      position: fixed;
      top: 0px;
      background: white;
      height: 72px;
      z-index: 99;
      width: 100%;
      padding-top: 18px;
      border-bottom: 2px solid #D2D2D2;
      margin-left: 0;
    }
    .headerSlide:checked ~ header .resHeader .pnlHdrCart {
      margin-right: 20px;
      position: fixed;
      top: 18px;
      z-index: 99;
      right: 0;
    }
  /* MAKE THE STUFF BELOW IT IN COLUMNS */
  .newNav > .innerWrapper > ul {
    flex-direction: column;
  }
  /* SEARCH  */
  .searchBar {
    margin-top: 14px;
  }
  .searchBar > .searchInput {
    padding: 0 20px;
  }
  .headerSearch {
    width: 100%;
    margin: 0 auto !important;
    position: relative;
  }
  .searchBar .searchTextBoxField {
    padding: 18px 7px;
    width: 100%;
  }
  .searchBar .searchButton {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  /* INSPIRATION MOBILE */
  .utility-menu {
    text-align: left;
    margin: 10px 0 0 0;
    padding: 0;
  }
  .utility-menu.inspiration-menu .flyout {
    display: block;
    margin-left: 30px;
    margin-top: 24px;
  }
  .utility-menu.story-menu .flyout {
    display: block;
    margin-left: 30px;
    margin-top: 5px;
  }
  .utility-menu.inspiration-menu .toggleMenu,
  .utility-menu.story-menu .toggleMenu {
    font-size: 1.250rem;
    display: block;
    padding-top: 14px;
  }
  .utility-menu.inspiration-menu .flyout li a {
    text-decoration: none;
    border-bottom: 1px solid #D2D2D2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 14px 0;
    padding-bottom: 14px;
  }
  .utility-menu.storeOption .flyout .assignedStore .storeHours span .days{
    float: left;
  }
  .utility-menu.inspiration-menu .flyout li:last-child a {
    border-bottom: none;
  }
  .utility-menu.inspiration-menu .flyout li a .col6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    font-size: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .utility-menu.inspiration-menu .flyout li a .col6 svg {
    margin-right: 15px;
    width: 43px;
  }
  .utility-menu.inspiration-menu .flyout a .col6:nth-child(2n) {
    display: none;
  }
  .utility-menu.inspiration-menu .flyout a .col6 span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 5px;
  }
  /* MOBILE MY ACCOUNT AND STORE STYLES */
  .utility-menu.storeOption .flexCenter {
    width: 100%;
    padding-bottom: 25px;
    display: inline-block;
  }
  .utility-menu .flexCenter img {
    margin-right: 25px;
    height: 24px;
    width: 24px;
    margin-bottom: -8px;
  }
  .utility-menu.myAccount .toggleMenu,
  .utility-menu.storeOption .toggleMenu {
    margin-left: 40px;
  }
  .utility-menu.storeOption .toggleMenu .flexCenter {
    margin: 14px 0;
    border-bottom: 1px solid #d2d2d2;
  }
  .utility-menu .toggleMenu i {
    float: right;
    padding-right: 30px;
  }
  .utility-menu.inspiration-menu .toggleMenu {
    padding: 20px 0 0 20px;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
  }
  .utility-menu.story-menu .toggleMenu {
    padding: 0 0 0 20px;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
  }
  /* OUR STORY MOBILE */
  .utility-menu.story-menu .flyout .col4,
  .utility-menu.story-menu .flyout .col8 span,
  .utility-menu.story-menu .flyout .col8 p {
    display: none;
  }
  .utility-menu.story-menu .flyout .col8 {
    width: 100%;
  }
  .utility-menu.story-menu .flyout .col8 a {
    display: block;
    padding: 20px 0 20px 8px;
    border-bottom: 1px solid #D2D2D2;
    text-decoration: none;
  }
  .utility-menu.story-menu .flyout .col8 a:last-child {
    border-bottom: none;
    padding: 0 0 20px 8px;
  }
  .flyout .mmBack {
    font-size: 1rem;
    color: #333;
    background: #fff;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    display: block;
    width: 100%;
    padding: 25px 0 25px 20px;
    text-align: left;
  }
  .utility-menu.storeOption .flyout .assignedStore {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  .resHeader.extraNavSlide.userSlide .utility-menu.myAccount > .flyout,
  .resHeader.extraNavSlide.storeSlide .utility-menu.storeOption > .flyout {
    background-color: #F0F0F0;
    padding-bottom: 20px;
  }
  .zipOnly{
    margin: 15px 30px 5px 30px;
  }
  .assignedStore,
  .storeDetails,
  .searchStores,
  .designHelp,
  div.changeLocation,
  .utility-menu.myAccount ul,
  .utility-menu.myAccount .loggedOut strong,
  .utility-menu.myAccount .loggedIn strong {
    margin: 1rem 30px;
  }
  .utility-menu.storeOption .storeHours {
    margin: 8px 0;
  }
  .utility-menu.myAccount .loggedOut,
  .utility-menu.myAccount .loggedIn {
    margin-top: 20px;
    padding-bottom: 30px;
  }
  .filtering.stick .currentFilters{
    flex-wrap: nowrap;
    margin: 0 20px 10px 20px;
  }
}
/* NEW TOP NAV */
.newNav {
  font-family: 'locator_regular';
}
.newNav a {
  text-decoration: none;
  padding: 3px 0;
  /*display: inline-block;*/
  /*border-bottom: 4px solid transparent; Doesn't matter, it causes problems, so fuck it./ *Is this an accessibility thing? */
}
.newNav > .innerWrapper > ul {
  justify-content: center;
  display: flex;
}
.newNav .mmTop {
  display: inline;
}
.newNav .saleMMIcon > a,
.newNav .saleMMIcon > .subMenu .flexCol .ord3,
.newNav .saleMMIcon > .subMenu .flexCol .ord3 ul li a{
  color: #DC2A2A;
}
@media screen and (max-width: 960px) {
  .newNav ul {
    position: relative;
    width: 100%;
  }
  .newNav .mmTop > a:before {
    content: '';
    display: inline-block;
  }
  .newNav .livingMMIcon > a:before {
    background: url("/_global/images/menu/living_icon.svg");
    width: 43px;
    height: 20px;
    margin-bottom: -5px;
    margin-right: 17px;
  }
  .newNav .diningMMIcon > a:before {
    background: url("/_global/images/menu/dining_icon.svg");
    width: 43px;
    height: 23px;
    margin-bottom: -5px;
    margin-right: 17px;
  }
  .newNav .bedroomMMIcon > a:before {
    background: url("/_global/images/menu/bedroom_icon.svg");
    width: 41px;
    height: 27px;
    margin-bottom: -8px;
    margin-left: 1px;
    margin-right: 18px;
  }
  .newNav .customMMIcon > a:before {
    background: url("/_global/images/menu/custom_icon.svg");
    width: 40px;
    height: 22px;
    margin-bottom: -7px;
    margin-left: 1px;
    margin-right: 19px;
  }
  .newNav .rugsMMIcon > a:before {
    background: url("/_global/images/menu/rugs_icon.svg");
    width: 20px;
    height: 30px;
    margin-left: 11px;
    margin-bottom: -10px;
    margin-right: 29px;
  }
  .newNav .decorMMIcon > a:before {
    background: url("/_global/images/menu/accessories_icon.svg");
    width: 14px;
    height: 30px;
    margin-left: 14px;
    margin-bottom: -9px;
    margin-right: 32px;
  }
  .newNav .outdoorMMIcon > a:before {
    background: url("/_global/images/menu/outdoor_icon.svg");
    width: 25px;
    height: 23px;
    margin-bottom: -5px;
    margin-right: 25px;
    margin-left: 10px;
    background-repeat: no-repeat;
  }
  .newNav .saleMMIcon > a:before {
    background: url("/_global/images/menu/sale_tag.svg");
    width: 25px;
    height: 25px;
    margin-left: 9px;
    margin-bottom: -7px;
    margin-right: 26px;
  }
  .newNav .subMenu {
    position: relative;
    left: 100%;
    top: 0;
  }
  .newNav .subMenu li:not(:first-child) {
    background-color: #F0F0F0;
  }
  .newNav .subMenu li.mobOnly{
    color: #000;
  }
  .newNav .mmTop .subMenu:not(.active) {
    display: none;
  }
  .resHeader.subActive .mobHeaderSlide {
    left: -100%;
    position: relative;
  }
  .newNav ul.subActive {
    left: -100%;
    width: 100%;
  }
  .resHeader .navLabel {
    padding: 20px 0 0 20px;
    display: inline-block;
    font-size: 1rem;
  }
  .resHeader.subActive div.topNav {
    padding-bottom: 150px;
    background-color: #F0F0F0;
  }
  .resHeader.subActive .mobHeaderSlide,
  .resHeader.storeSlide .pnlHdrStore.mobHeaderSlide .utility-menu.storeOption .toggleMenu,
  .resHeader.userSlide .pnlHdrUser.mobHeaderSlide .utility-menu.myAccount .toggleMenu,
  .newNav ul.subActive > li > a,
  .newNav ul.subActive > li > .mmOpen,
  .newNav ul.subActive > li > .mmBack {
    display: none;
  }
  .resHeader .utility-menu.storeOption > .toggleMenu,
  .resHeader .utility-menu.storeOption > .myAccount,
  .newNav .lev1,
  .newNav a {
    display: block;
    cursor: pointer;
  }
  .newNav .mmOpen > i {
    float: right;
    padding-right: 30px;
  }
  .newNav .mmTop.customMMIcon > .subMenu > ul > li a img {
    display: none;
  }
  .newNav .mmTop > .subMenu > ul > li.sale-node {
    width: 100%;
  }
  .newNav .mmTop > .subMenu > ul > li.sale-node a img {
    display: none;
  }
  .newNav .mmTop > .subMenu > ul > li.sale-node a > span {
    color: #fff;
    padding: 20px 0 20px 40px;
    display: inline-block;
  }
  .newNav .mmBack {
    font-size: 1rem;
    color: #333;
    background: #fff;
    border: none;
    display: block;
    width: 100%;
    padding: 25px 0 25px 20px;
    text-align: left;
    font-family: 'locator_regular';
  }
  .newNav li:not(.sale-node) > a,
  .newNav li .lev1  {
    margin-left: 25px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #D2D2D2;
  }
  .resHeader.extraNavSlide {
    position: relative;
  }
  .resHeader.extraNavSlide > .topNav,
  .resHeader.extraNavSlide > .pnlHdrInspiration,
  .resHeader.extraNavSlide > .pnlHdrStory,
  .resHeader.extraNavSlide .navLabel,
  .resHeader.extraNavSlide.storeSlide > .pnlHdrUser,
  .resHeader.extraNavSlide.userSlide > .pnlHdrStore {
    display: none;
  }
  .resHeader.extraNavSlide.userSlide .utility-menu.myAccount,
  .resHeader.extraNavSlide.storeSlide .utility-menu.storeOption {
    width: 100%;
    left: -100%;
    display: inline;
  }
  .resHeader.extraNavSlide.userSlide .utility-menu.myAccount > .flyout,
  .resHeader.extraNavSlide.storeSlide .utility-menu.storeOption > .flyout {
    position: relative;
    left: 100%;
    top: 0;
    display: block;
  }
}

@media screen and (min-width: 961px) {
  .newNav .saleMMIcon .mmOpen.lev1 ~ .subMenu > ul li {
    white-space: nowrap;
  }
  .newNav {
    font-size: 0.875rem;
  }
  .newNav .mmTop {
    padding: 5px 15px 0;
  }
  .searchSlider{ opacity: 0; }
  .newNav .mmTop > a {
    display: inline-block;
    padding: 3px 3px 15px 3px;
    font-size: 1rem;
  }
  .newNav .mmTop > .subMenu {
    display: none;
  }
  .newNav .mmTop > a {
    border-bottom: 4px solid transparent;
  }
  .newNav .mmTop.hasSub.open {
    /*position: relative;*/
  }
  .newNav:not(.js) .mmTop:hover > .subMenu,
  .newNav .mmTop.open > .subMenu {
    display: block;
  }
  .newNav:not(.js) .mmTop:hover > a,
  .newNav .mmTop.open > a {
    border-bottom: 4px solid #333333;
  }
  .newNav .mmTop > .subMenu {
    background: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1010px;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    border-top: 1px solid #D2D2D2;
  }
  .newNav .livingMMIcon > .subMenu {
    width: 727px;
    height: 460px;
  }
  .newNav .diningMMIcon > .subMenu{
    width: 697px;
    height: 420px;
  }
  .newNav .bedroomMMIcon > .subMenu {
    width: 825px;
    height: 405px;
  }
  .newNav .rugsMMIcon > .subMenu {
    width: 427px;
    height: 259px;
    left: 370px;
  }
  .newNav .decorMMIcon > .subMenu {
    width: 656px;
    height: 285px;
    left: 200px;
  }
  .newNav .outdoorMMIcon > .subMenu{
    width: 648px;
    height: 420px;
    left: 25%;
  }
  .newNav .saleMMIcon > .subMenu {
    width: 875px;
    height: 265px;
  }
  .newNav .saleMMIcon > .subMenu > ul > li.sale-node {
      max-width: 515px;
  }
  .newNav .saleMMIcon > .subMenu > ul > li.sale-node a {
      width: 100%;
  }
  .newNav .mmTop.customMMIcon > .subMenu > ul > li:not(.mobOnly) {
    display: inline-block;
  }
  .newNav .mmTop.rugsMMIcon > .subMenu > ul > li.pseudoLev2 {
    padding-top: 30px;
    padding-left: 40px;
    line-height: 2;
  }
  .newNav .mmTop.rugsMMIcon > .subMenu > ul > li.pseudoLev2 ~ li.pseudoLev2 {
    padding-top: 0px;
  }
  .newNav .mmTop > .subMenu .hasSub {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
  .newNav .mmTop > .subMenu .hasLink {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
  .newNav .mmTop > .subMenu .hasLink a{
    font-weight: bold;
  }
  .newNav .saleMMIcon > .subMenu .hasSub{
    padding-left: 30px;
  }
  .newNav .mmOpen.lev1 {
    font-family: 'locatorBold';
    line-height: 2;
  }
  .newNav .mmOpen.lev1 ~ .subMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .newNav .mmOpen.lev1 ~ .subMenu > ul {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    line-height: 2;
  }
  .newNav .mmTop > .subMenu > .flexCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-flow: column wrap;
    height: 100%;
    align-content: flex-start;
  }
  .newNav .mmTop > .subMenu > .flexCol .under {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .newNav .mmTop > .subMenu > .flexCol .over {
    padding-bottom: 10px;
  }
  .newNav .mmTop.diningMMIcon > .subMenu > .flexCol .ord1:not(.over) {
    padding-bottom: 90px;
  }
  .newNav .mmTop.saleMMIcon > .subMenu > .flexCol {
    flex-flow: initial;
    margin-right: 30px;
  }
  .newNav .mmTop > .subMenu > .flexCol .ord1 {
    order: 1;
  }
  .newNav .mmTop > .subMenu > .flexCol .ord2 {
    order: 2;
  }
  .newNav .mmTop > .subMenu > .flexCol .ord3 {
    order: 3;
  }
  .newNav .mmTop > .subMenu > .flexCol .ord4 {
    order: 4;
  }
  .newNav .mmTop > .subMenu > .flexCol .ord5 {
    order: 5;
  }
  .newNav .mmTop > .subMenu > ul > li.sale-node {
    height: 100%;
    margin-left: 30px;
    background-color: transparent !important;
  }
  .newNav .mmTop > .subMenu > ul > li.sale-node.sale {
    margin-left: 0;
  }
  .newNav .mmTop.customMMIcon > .subMenu > ul > li a,
  .newNav .mmTop > .subMenu > ul > li.sale-node a,
  .newNav .mmTop > .subMenu > ul > li.sale-node a img {
    height: 100%;
    display: inline-block;
    padding: 0;
  }
  .newNav .mmTop > .subMenu > .flexCol .sale-node.living {
    order: 4;
  }
  .newNav .mmTop > .subMenu > .flexCol .sale-node.dining {
    order: 4;
  }
  .newNav .mmTop > .subMenu > .flexCol .sale-node.bedroom {
    order: 6;
  }
  .newNav .mmTop > .subMenu > .flexCol .sale-node.rugs {
    order: 2;
  }
  .newNav .mmTop > .subMenu > .flexCol .sale-node.decor {
    order: 3;
  }
  .newNav .mmTop > .subMenu > .flexCol .sale-node.outdoor {
    order: 6;
  }
  .newNav .mmTop > .subMenu > .flexCol .sale-node.sale {
    order: 1;
  }
  .newNav .mmTop > .subMenu > .flexCol:after {
    order: 6;
  }
}
@media screen and (min-width: 961px) and (max-width: 1159px){
  .newNav .customMMIcon > .subMenu {
    max-width: 885.5px;
    height: 258px;
    left: 30px;
  }
  .newNav .customMMIcon > .subMenu > ul > li > a > img {
    max-width: 145px;
  }
}
@media screen and (min-width: 1160px) {
  .newNav .decorMMIcon > .subMenu{
    width: 654px;
    height: 285px;
    left: 470px;
  }
  .newNav .customMMIcon > .subMenu {
    max-width: 1205.5px;
    height: 350px;
    left: 30px;
    background-color: #333333;
  }
  .newNav .customMMIcon > .subMenu > ul > li > a > img{
    max-width: 198px;
  }
}
/* PRIMARY FILTERING */
.filter_container {
  font-family: 'locator_regular';
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.filtering .filters,
.resultsSort {
  position: relative;
  margin: 0 5px;
  display: inline-flex;
  justify-content: space-between;
}
.filtering .cbFilter{
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
	background-color: #fafafa;
	border: 1px solid #D2D2D2;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
  float:none;
  margin-top: 2px;
  margin-right: 8px;
  height: 20px;
  width: 20px;
  color: #333;
}
.filtering .slideout-filters .cbFilter{
  margin-top: 5px;
}
.filtering .cbFilter:checked {
	background-color: #fff;
	border: 1px solid #D2D2D2;
	color: #333;
}
.filtering .cbFilter:checked:before {
	content: '\02143';
	font-size: 14px;
	position: absolute;
	left: 5px;
  top: 0;
  transform: rotate(40deg);
}
.dropdownContainer .buttonDropdown{
  border: none;
  width: 100%;
  position: relative;
  text-align:center;
  margin: 5px 0 10px 0;
}
.dropdownContainer .showResults{
  border: none;
  background: #333;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  width: 90%;
}
.dropdownContainer .checkboxLink label{
  display:inline-block;
  width: 100%;
}
.listingsWrapper .plLoading{
  height: 70px;
  margin: 0 auto 20px auto;
}
.filtering .filters:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
  background: white;
  transition: all 0.3s ease-out;
  list-style: none;
  opacity: 0;
  pointer-events: none;
}
.listingsWrapper div.plLoading{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99999;
  text-align: center;
  background: transparent;
}
div.plLoading{
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 1;
  text-align: center;
}
.plLoading > img {
  height: 70px;
  position: relative;
  top: 50%;;
  margin-top: -50px;
  margin-left: 0;
}
.pageLoad .imgWrapper{
  margin-bottom: 15px;
}
.pageLoad .listingWrap .listingDesc .listingTitle .colName,
.pageLoad .listingWrap .listingDesc .listingTitle .prodName,
.pageLoad .listingWrap .listingDesc .listingSaleTitle{
  display: block;
  margin: 5px auto;
  background: #f0f0f0;
  height: 25px;
}
.pageLoad .listingWrap .listingDesc .listingSaleTitle{
  max-width: 70%;
}
.pageLoad .listingWrap .listingDesc .listingTitle .colName{
  max-width: 80%;
}
.pageLoad .listingWrap .listingDesc .listingTitle .prodName{
  max-width: 55%;
}
.dropdownContainer ul {
  list-style: none;
  margin: 0;
}
.dropdownContainer ul li {
  min-width: 150px;
}
/* Fix for unbalanced top alignment in Chrome */
.dropdownContainer ul > * {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}
.filters .dropdownContainer a {
  /*display: block;*/
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  transition: all 0.3s ease-out;
  display: inline-block;
  font-family: 'locator_regular';
  width: 100%;
  font-size: .876rem;
}
.filters .dropdownContainer a:hover {
  text-decoration: underline;
}
.dropdownContainer {
  display: none;
}
.filters .dropdownContainer,
.resultsSort .dropdownContainer {
  width: max-content;
  height: auto;
  top: 2em;
  left: 0;
  text-align: left;
  background: #fff;
  position: absolute;
  opacity: 0;
  z-index: 10;
  border: 1px solid #DCDCDC;
}
.see-all {
  margin: 0 5px;
}
/* .filters .dropdownContainer ul li {
  width: 150px;
} */
.filters .dropdownContainer ul li .checkboxLink{
  padding: 12px 10px;
  display: flex;
  flex-direction: row;
}
.dropdownContainer .markupOnly .checkboxLink{
  display: flex;
  flex-direction: row;
}
/* TWO COLUMNS ONLY FOR DROP DOWNS*/
.filters .dropdownContainer.twoCol ul {
  columns: 2;
}
.filters .dropdownContainer.threeCol ul {
  columns: 3;
}
.filters .dropdownContainer.fourCol ul {
  columns: 4;
}
.filters .dropdownContainer.fiveCol ul {
  columns: 5;
}
.levHelpButton, .embeddedServiceHelpButton{
  z-index: 0 !important;
}
.levHelpButton .helpButton iframe { border: none; position: fixed; bottom: 0; right: 12px; border-radius: 8px 8px 0 0; -webkit-font-smoothing: subpixel-antialiased; }
.levHelpButton .helpButton .contract { height: 46px; width: 174px; }
.levHelpButton .helpButton .expand { height: 75.5%; max-height: 450px; }
/* RESULTS SORT DROPDOWN */
.resultsSort .dropdownContainer ul li {
  border-bottom: 1px solid #DCDCDC;
}
.resultsSort .dropdownContainer ul li button {
  text-decoration: none;
  font-size: .876rem;
  padding: 10px 15px;
  display: inline-block;
  font-family: 'locator_regular';
  background: transparent;
  border: none;
  text-align: left;
  width: 100%;
}
.resultsSort .dropdownContainer ul li button:hover {
  text-decoration: underline;
}
/* PRIMARY DROPDOWN TOGGLES */
.toggle-dropdown:active + label, .toggle-dropdown:focus + label, #seeAll:active + .see-all label, #seeAll:focus + .see-all label {
  border-color: #333 !important;
}
.toggle-dropdown:checked ~ .dropdownContainer {
  display: block;
  opacity: 1;
  z-index: 1;
  transition: opacity .25s ease-in-out;
}
.filteringField .filters .primaryRefine,
.resultsSort label {
  cursor: pointer;
  border: 1px solid #DCDCDC;
  padding: 5px 10px;
  border-radius: 3px;
  display: block;
  font-size: .876rem;
}
.filters label .arrow,
.resultsSort label .arrow {
  float: right;
  margin-left: 25px;
}
label .arrow .fa-angle-down{
transition-duration: .5s;
transition-property: transform;
}
.toggle-dropdown:checked + label .arrow .fa-angle-down{
  transform: rotateZ(180deg) translate(2px, 0); 
}
/* TOGGLE INPUTS */

#seeAll,
.toggle-dropdown {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
/* APPLIED FILTERS */
.currentFilters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.currentFilters a {
  font-family: 'locator_regular';
  font-size: .876rem;
  text-decoration: none;
  margin: 8px 5px 0 5px;
}
a.clearAll {
  color: #808080;
  text-decoration: underline;
  margin-top: 25px;
}
.appliedFilter {
  background: #FDF7ED;
  border: #D2D2D2 1px solid;
  border-radius: 45px;
  padding: 8px 14px;
}
.removeFilter{
  background: transparent;
  border:none;
  display: inline-flex;
  margin: 0 3px 8px 3px;
  padding: 0;
}
.filterRemove{
display:inline-block;
margin-left:5px
}
.filterRemove i{
  color: #808080;
}
.appliedFilter a {
  text-decoration: none;
}
/* SECONDARY SLIDEOUT FILTERING */

.see-all .see-all-filters-drawer {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 5px 25px;
  border-radius: 3px;
  font-size: .876rem;
}
#seeAll:checked ~ .all-filters-drawer {
  margin-right: 0;
  min-width: 250px;
}
.all-filters-drawer {
  top: 0;
  right: 0;
  max-width: 350px;
  margin-right: -441px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: fixed;
  z-index: 104;
  display: flex;
  transition: all 0.5s ease-in-out;
  background-color: #F0F0F0;
  border: 1px solid #DCDCDC;
}
/* SLIDE OUT HEADER AND CLOSE */
#seeAll:not(:checked) ~ .all-filters-drawer > .slideOutHeader, #seeAll:not(:checked) ~ .all-filters-drawer > .slideField, #seeAll:not(:checked) ~ .all-filters-drawer > .slideOutFooter {
  display: none;
}
.slideOutHeader {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #DCDCDC;
  width: 350px;
  z-index: 999;
  text-align: center;
  flex-shrink: 0;
}
.slideOutHeader label {
  float: left;
}
.slideOutFooter {
  background-color: #fff;
  padding: 20px;
  border-top: 1px solid #DCDCDC;
  Width: 350px;
  flex-shrink: 0;
}
.slideOutFooter .showResults{
  background: #333;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
}
.dropdownContainer .moreOptions{
  border: none;
  background: transparent;
  color: #808080;
  text-decoration: underline;
}
.currentFilters .clearAll,
.slideOutFooter .clearAll {
  border: none;
  background: transparent;
  color: #808080;
  text-align: left;
  font-size: .8rem;
  text-decoration: underline;
}
.slideOutFooter .clearAll{
  padding: 10px 0 0 0;
}
.slideField{
  border:none;
  text-align: left;
  overflow-x: auto;
  padding: 0;
}
.listingsWrapper div.plMessage{
  padding: 10px 30px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #644052;
  border: none;
  text-align: center;
}
.listingsWrapper div.plMessage p{
  display: inline-block;
  color: #fff;
  letter-spacing: 0.33px;
  font-family: 'locator_regular';
  font-size: .8rem;
}
div.plMessage{
  width: 100%;
  color: #7e7e81;
  text-align: center;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 15px 0;
  margin-bottom: 20px;
  position: relative;
}
.listingsWrapper div.plMessage button{
  border: none;
  display: inline-block;
  float: right;
  background: none;
  position: absolute;
  right: 0;
}
.listingsWrapper div.plMessage .dismiss{
  display:none;
}
.listingsWrapper div.plMessage i{
  color: #fff;
}
.plMessage p,
.listingsWrapper div.plMessage p{
  margin: 0;
  padding: 0;
}
button.plMessage {
  background: #f0f0f0;
  color: #333;
  padding: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  margin-bottom: 15px;
  margin: 0 auto 15px auto;
}
/* SLIDE OUT ACCORDIONS*/

.all-filters-drawer .slideout-filters {
  margin: 10px;
  display: block;
  background-color: #fff;
}
.all-filters-drawer .slideout-filters ul li {
  margin: 20px 10px;
}
.all-filters-drawer .slideout-filters ul li a {
  text-decoration: none;
  width: 100%;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  font-family: 'locator_regular';
  padding: 10px 15px;
}
.all-filters-drawer .slideout-filters ul li a:hover {
  text-decoration: underline;
}
.all-filters-drawer .slideout-filters .arrow {
  float: right;
}
.all-filters-drawer .slideout-filters label {
  cursor: pointer;
  border: 1px solid #DCDCDC;
  padding: 15px;
  border-radius: 3px;
  display: block;
}
.all-filters-drawer .slideout-filters .checkboxLink label{
  border: none;
  padding: 2px 0 0 0;
  display: inline-block;
}
.all-filters-drawer .slideout-filters .dropdownContainer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
}
.all-filters-drawer .toggle-dropdown:checked ~ .dropdownContainer {
  max-height: 100%;
  border-bottom: 1px solid #DCDCDC;
}
/* SLIDE OUT DIMMER */

#seeAll:checked ~ .dim {
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 103;
  opacity: 1;
}
/* PAGINATION */

.paging-band {
  display: flex;
  justify-content: flex-end;
  font-family: 'locator_regular';
  color: #333333;
  font-size: .846em;
  width: 100%;
}
.prev,
.next {
  display: none;
}
.pagination {
  background: #F0F0F0;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 15px 5px;
  border: none;
}
.pagination.jsPrev,
.pagination.jsNext {
  padding: 0px 0px 1px 3px;
  border-radius: 3px;
}
.pagination.jsAll{
  background: none;
  color: #777;
  font-weight: 400;
  padding-left: 5px;
  font-size: 12px;
  padding-bottom: 0;
  text-decoration: underline;
  width: 60px;
}
.products_pagination_viewing,
.total {
  padding: 5px 0;
  margin: 15px 0;
}

/* MOBILE */
@media only screen and (max-width: 960px) {
  .filters label,
  .resultsSort label,
  .see-all .see-all-filters-drawer {
    padding: 5px 15px;
  }
  .filteringField {
    display: none;
  }
  .currentFilters {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px 0;
  }
  .all-filters-drawer {
    max-width: 100%;
    margin-right: -100%;
  }
  .slideOutHeader,
  .slideOutFooter{
    width: 100%;
  }
  .listingsWrapper div.plMessage{
    padding: 10px 45px;
  }
  .resultsSort .dropdownContainer{
    right: 0;
    left: unset;
  }
}
/* PRODUCT LISTING */

.listingsWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: distribute;
  justify-content: space-evenly;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@supports (-ms-ime-align: auto) {
    .listingsWrapper { justify-content: space-around; }
}
.listingWrap {
  width: 32%;
}
.listingsWrapper hr {
  float: left;
  display: block;
  width: 100%;
  margin: 5px 0 20px 0;
  border: 1px solid #D2D2D2;
}
.listingInfo,
.imgWrapper {
  position: relative;
}
.imgWrapper, .plProdImgLink{
  display: block;
  position: relative;
}
.plProdImgLink{
  width: 100%;
  padding-bottom: 100%;
  height: 0;
}
.prodImg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.prodImgTrans{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.salePrice {
  color: #c0392b !important;
}
.hgtvLogoListing {
  position: absolute;
  bottom: 0;
  left: 8px;
  height: 30px;
}
.plpSaleImgOverlay {
  position: absolute;
  width: 60%;
  bottom: 0px;
  right: 0px;
}
.listingInfo {
  font-size: 1rem;
}
/* LISTING DESCRIPTION AND TEXT ~ make some spans display:block for styling reasons ~*/
.listingDesc {
  display: block;
  margin-bottom: 25px;
  text-align: left;
}
.listingDesc a{
    text-decoration: none;
}
.listingDesc .listingTitle h4 {
    margin: 5px 0;
}
.listingDesc .listingTitle h4, .listingDesc .listingSaleTitle .orgPrice, .listingDesc .listingSaleTitle .percentOff, .listingDesc .dispPrice, .listingDesc .startingAt {
  font-size: .875rem;
  font-family: 'Sailec-Regular';
  font-weight: 400;
  text-align: left;
  color: #2B2B2B;
}
.listingDesc .listingTitle h4 a{
    font-size: .875rem;
    font-family: 'Sailec-Bold';
    text-align: left;
    color: #2B2B2B;
}
.listingDesc .pdpColors {
    display: block;
    min-height:20px;
}
.listingDesc .listingSaleTitle .percentOff{
    white-space: nowrap;
}
.listingDesc .listingSaleTitle .orgPrice {
    margin-right: 10px;
}
.listingDesc .listingSaleTitle .orgPrice, .listingDesc .listingSaleTitle .percentOff, .listingDesc .dispPrice, .listingDesc .startingAt{
    font-size: .75rem;
}
.listingDesc .listingSaleTitle .orgPricePercent {
    display: block;
    margin-bottom: 3px;
}
.listingDesc .dispPrice {
    margin-right: 5px;
}
.listingDesc .listingPrice .strikeThrough{
    text-decoration: line-through;
}
.listingDesc .listingSaleTitle {
  margin-bottom: 10px;
}
.listingDesc .listingSaleTitle .red, .listingDesc .couponMessage {
  color: #A12B31;
  font-family: 'Sailec-Regular';
  font-size: .875rem;
  width: 100%;
  margin-top: 3px;
}
.listingDesc .couponMessage{
    display:block;
}
.listingDesc .swatches + .listingOptions {
    margin-left: 5px;
}
.listingDesc .listingOptions {
  font-size: .75rem;
  text-align: left;
  font-style: italic;
  font-family: 'Sailec-Regular';
  font-style: italic;
  color: #383838;
}
/* SWATCHES CSS */
.listingInfo .swatches {
  height: 25px;
}
.listingInfo .swatches .swatch {
  height: 20px;
  width: 20px;
  margin: 0 1px !important;
  border-radius: 50%;
  vertical-align: middle;
  float: none;
}
/* No More Results */
.noMoreResults {
  width: 100%;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}
.noMoreResults .noResults {
  font-family: 'baskerville-urw', 'Libre Baskerville',serif;
  font-style: italic;
  font-size: 1.8rem;
  display:block;
}
.noMoreResults .chatConsult {
  font-family: 'locator_Regular';
  display:block;
  letter-spacing: 0.4px;
}
.noMoreResults .btnApp{
  font-family: 'locator_Regular';
  border: 2px solid #333333;
  border-radius: 50px;
  letter-spacing: 0.4px;
  padding:15px 35px;
  display: inline-block;
  margin: 30px 0 15px 0;
  text-decoration: none;
}
.noMoreResults .visitLink{
  display: block;
}
@media only screen and (max-width: 720px) {
  .searchResults_grid .listingWrap {
    width: 48% !important;
  }
  .listingsWrapper hr {
    display: none;
  }
  .listingsWrapper {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .plpSaleImgOverlay {
    width: 70%;
  }
  }
